<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDU3g7Wm1DajePT7pcoIyiU808PYZe9uvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>464390592820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProjectNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-project-new-d38b1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-new-d38b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464390592820:ios:c5d210b249b6c63ad8ed61</string>
</dict>
</plist>